<%- include('../partials/header') %>

<div>Before adding, please ensure that the DM is not in the following list:</div>
<section id="badge-container">
  <% campaigns.forEach(function(k) { %>
    <article class="badge"><%= k.dm %></article>
  <% }) %>
</section>

<form id="add-campaign-form" action="/campaigns" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Edition:</label>
  <select name="edition">
    <option value="1st">1st</option>
    <option value="2nd">2nd</option>
    <option value="2nd revised">2nd revised</option>
    <option value="3rd">3rd</option>
    <option value="3rd revised">3rd revised</option>
    <option value="4th">4th</option>
    <option value="5th">5th</option>
    </select>
  <label>Dungeon Master:</label>
  <input type="text" name="dm">
  <label>Start:</label>
  <input type="date" name="start">
  <input type="submit" value="Add Campaign">
</form>

<%- include('../partials/footer') %>
